<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PIPR Experiment</title>

    <script src="/static/pipr2/jspsych-6.1.0/jspsych.js"></script>
    <script src="/static/pipr2/jspsych-6.1.0/plugins/jspsych-html-keyboard-response.js"></script>
    <script src="/static/pipr2/jspsych-6.1.0/plugins/jspsych-fullscreen.js"></script>
    <script src="/static/pipr2/jspsych-6.1.0/plugins/jspsych-image-keyboard-response.js"></script>
    <script src="/static/pipr2/jspsych-6.1.0/plugins/jspsych-survey-html-form.js"></script>
    <link href="/static/pipr2/jspsych-6.1.0/css/jspsych.css" rel="stylesheet" type="text/css"></link>

    <!-- Axois -->
    <script src="/static/axios/axios.min.js"></script>

    <!-- Cookies -->
    <script src="/static/cookies/cookies.min.js"></script>

    <!-- Local CSS -->
    <link href="/static/pipr2/pronouns_v1.css" rel="stylesheet" type="text/css"></link>

    <!-- Create CSRFToken -->
    {% csrf_token %}

    {% block head %}

    {% endblock %}

  </head>

  <body>

  <header class='top-bar'>
    <h1 id='top-bar-title'>
      Comprehension Task
    </h1>

    <div id='progress-container' class='hide'>
      <div id='progress-label'>
        0%
      </div>
      <div id='progress-bar-container'>
        <div id='progress-bar'>
        </div>
      </div>

    </div>

  </header>

  {% block content %}

  {% endblock %}

  </body>
</html>