{% extends 'pipr2/base.html' %}

{% block head %}

<!-- reCAPTCHA -->
 <script src="https://www.google.com/recaptcha/api.js?render=6Lc8nMwZAAAAAD9VUlj6EX69mgSSJ9ODDVPqrzJe"></script>

{% endblock %}

{% block content %}

<div id='expt-container'>

</div>

<!-- Render django data as JSON scripts -->
{{ items | json_script:"stimuli"}}
{{ conf | json_script:"conf"}}

<!-- HTML Templates -->
{% include 'pipr2/demographics.html' %}

<!-- Local JS -->
<script src="/static/pipr2/pronouns.js"></script>

<script src="/static/pipr2/demographics.js"></script>


{% endblock %}