/* === PIPR experiment CSS === */

/* General */

body {
    margin:0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size:16px;
}

/* --- Header Bar --- */

header.top-bar {
    top: 0;
    width: 100%;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    height: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);s
    z-index: 4;
    align-items: center;
}

h1#top-bar-title {
    color: white;
    font-family: 'Open Sans', 'Arial', sans-serif;
    margin: 0 20px 0 30px;
    font-size: 1.1rem;
    font-weight: 400;
    min-width: 350px;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 600px) {
  h1#top-bar-title {
    font-size: 4vw;
    min-width: 40%;
  }

  div#progress-label {
    font-size:4vw;
  }
}

/* Progress Bar */

div#progress-container {
    width: 300px;
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

div#progress-label {
    color: white;
    margin-right: 20px;
}

div#progress-bar-container {
    width: 200px;
    height: 10px;
    background: #444;
    border-radius: 2px;
}

div#progress-bar {
    height: 100%;
    width: 1%;
    background: white;
    /* background: #ff8000; */
    border-radius: inherit;
}

.hide {
    display:none!important;
}

/* --- Home --- */

div#control-container {
    width: 80%;
    margin: 40px auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px 0 50px;
}

.input-section {
    width: 250px;
    margin-bottom:25px;
}

.input-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0;
}

.input-group input {
    margin-right: 10px;.input-group: margin-right;
}

h3.input-section-title {
    margin-bottom: 15px;
    text-align: center;
}

div.input-section-container {
    display: flex;
    flex-wrap: wrap;
}

.input-group.cols {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.input-group.cols label {
    font-size: 12px;
    margin-bottom: 5px;
}

input#limit {
    margin-right: 0;
    width: 40px;
    padding: 7px 5px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #00000088;
    margin-top: 5px;
    text-indent: 5px;
}

.submit-container {
    padding: 20px;
    padding-right: 130px;
    display: flex;
    justify-content: flex-end;
}

button#submit, .btn {
    padding: 10px;
    background: #000000ee;
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 1px 4px 1px #00000044;
    cursor: pointer;
}

button#submit:hover, .btn:hover {
    background: #000000;
    box-shadow: 0px 1px 4px 1px #00000044, 0px 1px 8px 2px #00000044;
}

/* Demographics */

form#jspsych-survey-html-form {
    min-height: calc(90vh - 50px);
    padding-bottom: 20px;
}

div.question {
    /* display: flex; */
    text-align: left;
    color: #000000cc;
    padding: 5px;
    margin-bottom: 10px;
    font-size:0.8em;
    line-height: 1.2em;
}

h3.question-title {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 600;
    color: #000000d1;
}

div.question input[type="number"], select {
    width: 135px;
    padding: 10px 5px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid #0000003b;
    margin-top: 5px;
    text-indent: 5px;
}

select {
    height:43px;
}

.form-row {
    display: flex;
    font-size: 0.8em;
    width: 777px;
}

.col {
    flex: 1;
}

.radio-option {
    display: flex;
    align-items: center;
    height: 2em;
}

input[type="radio" i] {
    margin: 3px 7px 3px 3px;
}

input[type="checkbox" i] {
    margin: 3px 7px 3px 3px;
}

div#language-box-container {
    overflow-x: scroll;
    padding: 10px;
    border: 1px solid #00000033;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .form-row {
        font-size: 0.7em;
        line-height: 1em;
        width: 360px;
    }

    div#language-box-container {
        
    }

    div.question input[type="number"], select {
    width: 60px;
    padding: 3px 3px;
    font-size: 0.9em;
    height: 25px;
    /* line-height: 1em; */
    }

    select {
        text-indent:0;
    }

}

.col-header {
    font-weight: 600;
    padding: 0px 10px 0px 5px;
    height: 100%;
    display: flex;
    align-items: center;
}

button#addLanguageButton {
    margin: 10px 12px 0 0;
}

textarea {
    width: 90%;
    height: 5em;
    border-radius: 5px;
    border: 1px solid #00000054;
    font-family: 'Open Sans', sans-serif;
    padding:10px;
    text-indent: 5px
}

/* --- Experiment: Main content --- */

#jspsych-content {
    max-width: 950px;
    width: 95%;
    overflow: hidden;
}

div#expt-container {
    /*height: calc(100vh - 50px);*/
    /*max-height: 800px;*/
    min-height: 600px;
    font-size:1.4em;
    margin-top: 10px;
    margin-bottom:5px;
}

@media (max-width: 600px) {
  div#expt-container {
    font-size: 1em;
  }
}

div#SprCanvas-container {
    height: calc(100vh - 50px);
    min-height: 600px;
    display: flex;
}

canvas#SprCanvas {
    margin: auto;
}


span.key-demo {
    border: 2px solid black;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 600;
}

@media (max-width: 600px) {
  span.key-demo {
    width: 20px;
    height: 20px;
  }
}

p.instructions {
    text-align: justify;
}

p.instructions-c {
    text-align: center;
}

#continue {
    margin-top:2.5em;
}

.instructions-container {
    /*min-height: calc(90vh - 50px);*/
    min-height: 600px;
    max-width:800px;
    margin:auto;
}

h2.instructions-header {
    margin-bottom: 1.5em;
}

.example {
    border: 1px solid #00000088;
    padding:5px;
}


.fixation-cross {
    font-size: 60px;
}

.response-container {
  display:flex;
  justify-content: space-evenly;
  min-height: 5em;
}

p.sent {
    min-height: 5em;
    margin:1em;
    text-align: justify;
}

p.question {
    min-height: 3em;
    margin-bottom:0;
}

@media (max-width: 600px) {
  p.sent {
    min-height: 6em;
    margin:1em;
  }
  p.question {
    min-height: 4em;
    margin-bottom:0;
  }
}


.response {
    display: flex;
    flex-direction: column;
    width: 45%
}
/*
.response:hover {
    box-shadow: 0 0 2px 1px #00000026, 0 0 7px 3px #00000033;
}*/

.trial-container {
    width: 80%;
    margin: auto;
    max-width: 800px;
    min-width: 400px;
}

@media (max-width: 600px) {
  .trial-container {
    min-width: 90%;
    width:90%;
    margin: auto;

  }
}

.response-label {font-weight: 600;}


.key-reminder {
    border: 2px solid black;
    width: 35px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 600px) {
  .key-reminder {
    width: 25px;
    height: 23px;
    line-height: 20px;
    font-size: 15px;
  }
}



.key-reminder-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

/* Consent */

#consent-container {
    max-width:100%;
    overflow-x:scroll;
}

/* MTurk Code */

.code-container {
    display: flex;
    width: 470px;
    margin: auto;
    border: 1px solid #00000088;
    /* padding: 5px 15px; */
    border-radius: 8px;
    justify-content: space-between;
    position:relative;
}

@media (max-width: 600px) {
    .code-container {
        width: 280px;
        font-size: 12px;
    }
}

.code-copy {
    display: flex;
    padding: 5px 8px;
    background: #00000022;
    border-left: 1px solid #00000088;
    cursor: pointer;
    transition: box-shadow 0.1s;
    border-radius: 0 8px 8px 0px;
}

div#code {
    padding: 5px 10px;
}

.code-copy:hover {
    background: #00000044;
}

.code-copy:active {
    box-shadow: inset 0px 0 7px 2px #00000045;
}

div#copy-confirm {
    position: absolute;
    top: -50px;
    right: 0px;
    background: #000000c4;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

div#copy-confirm.show {
    opacity:1;
}

