
<!-- Instructions -->

<template id="osivq-instructions">
  <div class='instructions-container'>
      <h2 class='instructions-header'>
        Thinking Questionnaire
      </h2>
    <p class='instructions'>
      Thank you. You have completed all of the passages.
    </p>

    <p class='instructions'>
    You will now be asked to complete a questionnaire about the way you think. Please, read the following statements and rate each of them on a 5-point scale. Select ‘5’ to indicate that you absolutely agree that the statement describes you, and select ‘1’ to indicate that you totally disagree with the statement. Select ‘3’ if you not sure, but try to make a choice.’</p>
    </p>

  <p class='instructions' ontouchstart="response(32)" id='next'>
      <b>Press the spacebar to continue</b>
    </p>
</template>

<!-- Page 1 -->

<template id="osivq-1">

    <div>

        <h2 class='title'>Questionnaire</h2>

        <!-- Question 1 -->
        <div class='question likert'>

            <h3 class='question-title likert'>I was very good in 3D geometry as a student</h3>

            
            <div class='option-container osivq'>

                <div class='radio-option likert'>
                    <label for='osivq-response-1-1' class='radio-label'>1</label>
                    <input type='radio' name='osivq-response-1' id='osivq-1-1'
                    value="f"/ required class='likert'>
                    <label for='osivq-response-1-1' class='radio-label likert'>Completely disagree</label>
                </div>

                <div class='radio-option likert'>
                    <label for='osivq-response-1-2' class='radio-label likert'>2</label>
                    <input type='radio' name='osivq-response-1' id='osivq-1-2'
                    value="m"/ required class='likert'>
                </div>

                <div class='radio-option likert'>
                    <label for='osivq-response-1-3' class='radio-label likert'>3</label>
                    <input type='radio' name='osivq-response-1' id='osivq-1-3'
                    value="nb"/ required class='likert'>
                    <label for='osivq-response-1-3' class='radio-label likert'>Not sure</label>
                </div>

                <div class='radio-option likert'>
                    <label for='osivq-response-1-4' class='radio-label likert'>4</label>
                    <input type='radio' name='osivq-response-1' id='osivq-1-4'
                    value="na"/ required class='likert'>
                    
                </div>

                <div class='radio-option likert'>
                    <label for='osivq-response-1-5' class='radio-label'>5</label>
                    <input type='radio' name='osivq-response-1' id='osivq-1-5'
                    value="na"/ required class='likert'>
                    <label for='osivq-response-1-5' class='radio-label likert'>Completely agree</label>
                </div>

            </div>

        </div>

        <!-- Question 2 -->
        <div class='question osivq'>

            <h3 class='question-title osivq'>I have difficulty expressing myself in writing</h3>

            
            <div class='option-container osivq'>

                <div class='radio-option osivq'>
                    <label for='osivq-response-2-1' class='radio-label'>1</label>
                    <input type='radio' name='osivq-response-2' id='osivq-2-1'
                    value="f"/ required class='osivq'>
                    <label for='osivq-response-2-1' class='radio-label osivq'>Completely disagree</label>
                </div>

                <div class='radio-option osivq'>
                    <label for='osivq-response-2-2' class='radio-label osivq'>2</label>
                    <input type='radio' name='osivq-response-2' id='osivq-2-2'
                    value="m"/ required class='osivq'>
                </div>

                <div class='radio-option osivq'>
                    <label for='osivq-response-2-3' class='radio-label osivq'>3</label>
                    <input type='radio' name='osivq-response-2' id='osivq-2-3'
                    value="nb"/ required class='osivq'>
                    <label for='osivq-response-2-3' class='radio-label osivq'>Not sure</label>
                </div>

                <div class='radio-option osivq'>
                    <label for='osivq-response-2-4' class='radio-label osivq'>4</label>
                    <input type='radio' name='osivq-response-2' id='osivq-2-4'
                    value="na"/ required class='osivq'>
                    
                </div>

                <div class='radio-option osivq'>
                    <label for='osivq-response-2-5' class='radio-label'>5</label>
                    <input type='radio' name='osivq-response-2' id='osivq-2-5'
                    value="na"/ required class='osivq'>
                    <label for='osivq-response-2-5' class='radio-label osivq'>Completely agree</label>
                </div>

            </div>

        </div>

        <!-- Question 3 -->
        <div class='question osivq'>

            <h3 class='question-title osivq'>If I were asked to choose between engineering professions and visual arts, I would prefer engineering</h3>

            
            <div class='option-container osivq'>

                <div class='radio-option osivq'>
                    <label for='osivq-response-3-1' class='radio-label'>1</label>
                    <input type='radio' name='osivq-response-3' id='osivq-3-1'
                    value="f"/ required class='osivq'>
                    <label for='osivq-response-3-1' class='radio-label osivq'>Completely disagree</label>
                </div>

                <div class='radio-option osivq'>
                    <label for='osivq-response-3-2' class='radio-label osivq'>2</label>
                    <input type='radio' name='osivq-response-3' id='osivq-3-2'
                    value="m"/ required class='osivq'>
                </div>

                <div class='radio-option osivq'>
                    <label for='osivq-response-3-3' class='radio-label osivq'>3</label>
                    <input type='radio' name='osivq-response-2' id='osivq-3-3'
                    value="nb"/ required class='osivq'>
                    <label for='osivq-response-3-3' class='radio-label osivq'>Not sure</label>
                </div>

                <div class='radio-option osivq'>
                    <label for='osivq-response-3-4' class='radio-label osivq'>4</label>
                    <input type='radio' name='osivq-response-2' id='osivq-3-4'
                    value="na"/ required class='osivq'>
                    
                </div>

                <div class='radio-option osivq'>
                    <label for='osivq-response-3-5' class='radio-label'>5</label>
                    <input type='radio' name='osivq-response-3' id='osivq-3-5'
                    value="na"/ required class='osivq'>
                    <label for='osivq-response-3-5' class='radio-label osivq'>Completely agree</label>
                </div>

            </div>

        </div>

    </div>

</template>



